.Button {
    cursor: pointer;

    &>svg {
        vertical-align: middle;
    }
}

.outlined {
    padding: 0;
    margin: 0;
    bottom: none;
    border: none;
    background: none;
    outline: none;
}

.primary {}

.secondary {}